*{
    font-family: 'Roboto Slab', serif;
}
 
 
body{
     counter-reset: cnt;
}

.counter::before {
    counter-increment: cnt;
    content: counter(cnt);
}

#navbar-brand{
    padding-left:30px
}
 
#navItem{
     color: #139187;
}
 
#paddingTop{
     padding-top:30px;
}
 
#navItemBorder{

}

.navbar-nav {
    flex-direction: row;
    width: 100%;
}

.nav-link {

}

@media (max-width: 600px){
    #signBox {
    margin: auto auto;
    padding: 30px;
    background-color: white;
    border-radius: 25px;
    border: 2px solid white;

}
}
@media (min-width: 600px){
    #signBox {
    max-width:500px;
    padding: 30px;
    background-color: white;
    border-radius: 25px;
    border: 2px solid white;

}
}




.likeCounterUp{
    font-size: 30px;

}

.footer{

}

.footer-label{
    padding-left: 30px;
    font-size: 10px;
}


.image-countUp{

}

.countUp{
    font-size: 30px;
}

.label-countUp{

}