{% extends "base.html" %}

{% block content %}
<div class="jumbotron jumbotron-fluid" style="background-size: cover; background-image: url(static/about_pic.jpg);">
    <div class="container">
        <h2 class="display-4" style="color: #F4F4ED;">Make your life easier with <span style="color: #17E89F; borde">Trackify</span></span></h2>
        <p class="lead" style="color: #F4F4ED;">With Trackify you can save a lot of time. </p>
        <hr class="my-4">
        <a href="{{ url_for('.register') }}" class="btn btn-primary btn-lg" style="background-color: #17E89F; border-color: #17E89F" href="#" role="button">Start for free</a>
    </div>
</div>
<div class="row" style="width:100%; margin:0px; margin-bottom: 20px">
    <div class="col" align="center">
        <div class="image-countUp"><img src="static/aboutIcons/icons8-person-50.png"/></div>
        <div class="countUp">1023</div>
        <div class="label-countUp">Clients</div>
    </div>
    <div class="col" align="center">
        <div class="image-countUp"><img src="static/aboutIcons/icons8-worker-50.png"/></div>
        <div class="countUp">240</div>
        <div class="label-countUp">Workers</div>
    </div>
    <div class="col" align="center">
        <div class="image-countUp"><img src="static/aboutIcons/icons8-building-50.png"/></div>
        <div class="countUp">5</div>
        <div class="label-countUp">Headquarters</div>
    </div>
    <div class="col" align="center">
        <div class="image-countUp"><img src="static/aboutIcons/icons8-clock-50.png"/></div>
        <div class="countUp">30000</div>
        <div class="label-countUp">Saved minutes</div>

    </div>
</div>

<script type="text/javascript">
    $(".countUp").counterUp({delay:10, time:1000});
</script>
{% endblock content %}


