<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>App - {{ title }}</title>
    {% else %}
    <title>App</title>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" > -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:700&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.js"></script>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a id="navbar-brand" class="navbar-brand" href="{{ url_for('login') }}"><img src="/static/logo.png" width="110px" style="" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="padding-left:50px">
        <div class="navbar-nav">
            {% if current_user.is_authenticated %}
                <a id="navItem" class="nav-item nav-link" href="{{ url_for('.dashboard', app_name='tasks') }}">Dashboard</a>
                <a id="navItem" class="nav-item nav-link" href="{{ url_for('.user', username=current_user.username) }}">Logged as: {{ current_user.username }}</a>
                <a id="navItem" class="nav-item nav-link" href="{{ url_for('.logout') }}">Logout</a>




            {% else %}

            <a id="navItem" class="nav-item nav-link active" href="{{ url_for('login') }}">Login<span class="sr-only">(current)</span></a>
            <a id="navItem" class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>
            <a id="navItem" class="nav-item nav-link" href="{{ url_for('about') }}">About</a>

            {% endif %}

        </div>



      </div>
      </div>
    </nav>
    <hr style="padding:0px; margin: 0px;">

    <div id="alertBox" class="container">
        {% with errors = get_flashed_messages(category_filter=["error"]) %}
            {% if errors %}
            <div class="alert alert-danger" role="alert">
                {%- for msg in errors %}
                <p style="text-align: center;">{{ msg }}</p>
                {% endfor -%}
            </div>
            {% endif %}
            {% endwith %}

        {% with errors = get_flashed_messages(category_filter=["success"]) %}
            {% if errors %}
            <div class="alert alert-success" role="alert">
                {%- for msg in errors %}
                <p style="text-align: center;">{{ msg }}</p>
                {% endfor -%}
            </div>
            {% endif %}
            {% endwith %}
    </div>



        {% block content %}
        {% endblock content %}
    <hr>
    <div class="footer">
        <span class="footer-label">Copyright © 2019 Tom Mushyk</span>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


    <script>
            $(function() {
                setTimeout(function() {
                    $("#alertBox").hide('slow')
                }, 1000);
            });
      </script>
</body>
</html>