{% extends "base.html" %}

{% block content %}
<div id="paddingTop" class="container">
    <div>

        <h1>Sign Up</h1>
    <form action="/register" method="post" novalidate style="max-width: 500px">

        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }} <br>
            {{ form.username(size=32, class_="form-control") }}
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }} <br>
            {{ form.password(size=32, class_="form-control") }}
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.email.label }} <br>
            {{ form.email(size=100, class_="form-control") }}
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.submit(class_="btn btn-primary") }}
        </p>
    </form>

    </div>

</div>
{% endblock content %}